/* Estilos para o footer */
footer {
background: none;
  padding: 30px 0;
  text-align: center;
  right: 100%;
  margin-top: 0;
}

.social-icons a {
  color: #fff;
  font-size: 34px;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ff9800;
}

