<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-stepper orientation="horizontal">
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Empresa</h1>
    </ng-template>
    <ng-template matStepContent class="custom-font">
      <br>
      <br>
      <p>Conselho Regional de Administração do Rio Grande do Sul</p>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Período</h1>
    </ng-template>
    <ng-template matStepContent class="custom-font">
      <br>
      <br>
      <p>janeiro/2021 - maio/2022</p>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Atividades</h1>
    </ng-template>
    <br>
    <br>
    <p><mat-icon>check_circle_outline</mat-icon>
      Implementação de planos e projetos de melhorias, aperfeiçoando o desempenho dos processos do setor;</p>
    <p><mat-icon>check_circle_outline</mat-icon>
      Atuação no desenvolvimento e acompanhamento de indicadores e padrões de desempenho (KPI’s, com Ms
      Excel);
    </p>
    <p><mat-icon>check_circle_outline</mat-icon>
      Elaboração, monitoramento e atualização de: fluxogramas (Bizagi), planilhas de dados automatizadas (Ms Excel:
      Macro, VBA), dashboard de apresentação de desempenho (Ms Excel e Power Bi);
    </p>
    <p><mat-icon>check_circle_outline</mat-icon>
      Execução de atividades baseadas em pacote Office, Internet e aplicativos em geral, exigindo conhecimento em
      informática;
    </p>
    <p><mat-icon>check_circle_outline</mat-icon>
      Durante o período em que estive na empresa, conseguimos vitoriosos resultados. Entre eles:
    </p>
    <p>
      <mat-icon>done_all</mat-icon>
      O prazo de execução de processos administrativos, anteriormente ultrapassava 224 dias e após aplicações das
      melhorias estava em aproximadamente 30 dias;
    </p>
    <p>
      <mat-icon>done_all</mat-icon>
      O retorno de respostas processuais também apresentava consecutivas falhas, por depender muito que a mensagem fosse
      entrega de forma física, conflitando em prazo dos Correios e geolocalização. Tornamos o resultado digital, sendo
      muito mais efetivo e expressiva redução de custos.
    </p>
    <p>
      <mat-icon>done_all</mat-icon>
      Recebimento de documentos anteriormente aceitas de modo presencial ou Correios, passou a ser de forma digital
      (e-mail, WhatsApp e site), ocasionou em redução de custos ao remetente e excelente redução em análises de
      processos.
    </p>
    <p>
      <mat-icon>done_all</mat-icon>
      Fazíamos reuniões mensais com apresentações dos dados do setor do período mensal. Isso acarretou numa união maior
      entre os colegas e motivação para o desempenho, uma vez que era um momento de analisar os resultados, junto de uma
      situação mais descontraída e para planejamento do mês seguinte.
    </p>
  </mat-step>
</mat-stepper>
