div.projetos {
  margin-top: 0.1rem;
  border-top-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

p {
  margin: 5vh;
  margin-left: 0;
  text-align: justify;
  font: 20px 'Space Grotesk', sans-serif;
  color: #7C7C7C;
}

.margin {
  height: 3rem;
}

.content {
  align-items: center;
  background: none;
  width: 100%;
  max-width: 1200px; /* Define a largura máxima */
  padding: 0 20px;
}

.title {
  background: none;
  margin-bottom: 50px;
  font-size: 30px;
  color: #1c58f8;
  padding: 10px;
  font-family: 'Major Mono Display', monospace;
  display: flex;
  align-items: center;
}

.title.left span {
  margin-left: 0;
  margin-right: auto;
}

#projetos {
  flex: 1;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%; /* Ocupa todo o espaço disponível */
  max-width: 100%; /* Garante que o grid não ultrapasse a largura máxima */
  height: auto; /* Altura automática */
  padding: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #DCDCDC, #FFFAFA, #F5F5F5	,#DCDCDC			 )
}

.image {
  overflow: hidden;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image:hover {
  background: none;
  transform: scale(1.5);
  box-shadow: 0 0 15px rgba(0,255,255, 1);
}

.image img {
  background: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
