<div id="projetos">
  <div class="projetos">
    <div class="margin"></div>
    <div class="content">
      <h1 class="title left">Meus Projetos <span> &#9660;</span></h1>
      <p>Abaixo, alguns projetos criados por mim. Ao clicar na imagem desejada, será redirecionado ao repositório, no
        GitHub. Também, há outros repositórios de projetos, todavia, selecionei alguns por ter uma parte visual mais
        interativa.</p>
      <div id="projetos">
        <div class="image-grid">
          <div class="image"><a href="https://github.com/thiselucas/sistema-cambio-veiculo"><img
                src="../../assets/img/aplicacaoveiculo.png" alt="Imagem 2"></a></div>
          <div class="image"><a href="https://github.com/thiselucas/historiaCopa"><img
                src="../../assets/img/copas-do-mundo.png" alt="Imagem 1"></a></div>
          <div class="image"><a href="https://github.com/thiselucas/Envio-De-Email-React"><img
                src="../../assets/img/emailReact.png" alt="Imagem 3"></a></div>
          <div class="image"><a href="https://github.com/thiselucas/ProjetoWFormsMySql"><img
                src="../../assets/img/wforms-mysql.png" alt="Imagem 11"></a></div>
          <div class="image"><a href="https://github.com/thiselucas/Jogo-Friends"><img
                src="../../assets/img/jogo-friends.png" alt="Imagem 5"></a></div>
          <div class="image"><a href="https://github.com/thiselucas/Treinando--Python-"><img
                src="../../assets/img/jogo-python.png" alt="Imagem 6"></a></div>
          <div class="image"><a href="https://github.com/thiselucas/showtime"><img src="../../assets/img/lucasflix.png"
                alt="Imagem 7"></a></div>
          <div class="image"><a href="https://github.com/thiselucas/CurriculoEmAngular"><img
                src="../../assets/img/portfolio.png" alt="Imagem 8"></a></div>
          <div class="image"><a href="https://github.com/thiselucas/petshop-html-css-bootstrap"><img
                src="../../assets/img/projeto-faculdade-2.png" alt="Imagem 9"></a></div>
          <div class="image"><a href="https://github.com/thiselucas/projeto-faculdade"><img
                src="../../assets/img/projeto-faculdade.png" alt=""></a></div>
          <div class="image"><a href="https://github.com/thiselucas/jogo-da-forca"><img
                src="../../assets/img/jogo-forca.png" alt="Imagem 4"></a></div>
          <div class="image"><a href="https://github.com/thiselucas/lucasescotodaluz1010"><img
                src="../../assets/img/curriculo-html.png" alt="Imagem 2"></a></div>
        </div>
      </div>
    </div>
    <div class="margin"></div>
  </div>
</div>
