<app-navmenu></app-navmenu>
<body>
  <div class="image-grid">
    <div class="image"><img src="../../assets/img/curriculo-html.png" alt="Imagem 2"></div>
    <div class="image"><img src="../../assets/img/copas-do-mundo.png" alt="Imagem 1"></div>
    <div class="image"><img src="../../assets/img/emailReact.png" alt="Imagem 3"></div>
    <div class="image"><img src="../../assets/img/wforms-mysql.png" alt="Imagem 11"></div>
    <div class="image"><img src="../../assets/img/jogo-friends.png" alt="Imagem 5"></div>
    <div class="image"><img src="../../assets/img/jogo-python.png" alt="Imagem 6"></div>
    <div class="image"><img src="../../assets/img/lucasflix.png" alt="Imagem 7"></div>
    <div class="image"><img src="../../assets/img/portfolio.png" alt="Imagem 8"></div>
    <div class="image"><img src="../../assets/img/projeto-faculdade-2.png" alt="Imagem 9"></div>
    <div class="image"><img src="../../assets/img/projeto-faculdade.png" alt=""></div>
    <div class="image"><img src="../../assets/img/jogo-forca.png" alt="Imagem 4"></div>
  </div>
  <div class="title-grid">
    <h1 class="title">Meus Projetos</h1>
  </div>
</body>
<app-footer></app-footer>
