div.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}



.margin {
  height: 3rem;
}

.content {
  align-items: center;
  background: none;
  width: 100%;
  max-width: 1200px; /* Define a largura máxima */
  padding: 0 20px;
}

.title {
  background: none;
  font-size: 30px;
  color: #fff;
  padding: 10px;
  font-family: 'Major Mono Display', monospace;
  display: flex;
  align-items: center;
}

.title span {
  margin-left: 10px; /* Espaço entre o título e o ícone de seta */
  cursor: pointer;
}

/* Adicione um novo estilo para posicionar à esquerda */
.title.left {
  margin-right: auto; /* Empurra o título para a esquerda */
}

/* Mantenha o título à esquerda */
.title.left span {
  margin-left: 0; /* Remova o espaço entre o título e o ícone de seta */
}

#projetos {
  flex: 1; /* Expande o conteúdo do grid para preencher o espaço restante */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%; /* Ocupa todo o espaço disponível */
  max-width: 100%; /* Garante que o grid não ultrapasse a largura máxima */
  height: auto; /* Altura automática */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: none;
}

.image {
  background: none;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image:hover {
  background: none;
  transform: scale(1.5);
  box-shadow: 0 0 15px rgba(0,255,255, 1);
}

.image img {
  background: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
