<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-stepper orientation="horizontal">
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Empresa</h1>
    </ng-template>
    <ng-template matStepContent class="custom-font">
      <br>
      <br>
      <p>Flanp Partners IT</p>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Período</h1>
    </ng-template>
    <ng-template matStepContent class="custom-font">
      <br>
      <br>
      <p>julho/2023 - setembro/2023</p>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Atividades</h1>
    </ng-template>
    <br>
    <br>
    <p><mat-icon>check_circle_outline</mat-icon>
      Atuo na migração estrutural e criação de aplicações cujo sistema é precisam ser atualizados, transferindo para
      frameworks e linguagens,
      com versões atuais.</p>
    <p><mat-icon>check_circle_outline</mat-icon>
      Também, utilizo containers em Docker para utilizar containers e imagens de aplicações anteriores.</p>
    <p><mat-icon>check_circle_outline</mat-icon>
      Atualmente atuo com: Angular 16, TypeScript, Javascript, PHP, Docker, Git e GitHub, NodeJS.</p>
  </mat-step>
</mat-stepper>
