<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-stepper orientation="horizontal">
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Empresa</h1>
    </ng-template>
    <ng-template matStepContent class="custom-font">
      <br>
      <br>
      <p>Conselho Regional de Administração do Rio Grande do Sul</p>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Período</h1>
    </ng-template>
    <ng-template matStepContent class="custom-font">
      <br>
      <br>
      <p>fevereiro/2019 - janeiro/2022</p>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Atividades</h1>
    </ng-template>
    <br>
    <br>
    <p><mat-icon>check_circle_outline</mat-icon>
      Negociação e emissão de documentos relacionado a débitos;</p>
    <p><mat-icon>check_circle_outline</mat-icon>
      Atendimento ao público de forma ativa e passiva (telefone, e-mail, presencial);
    </p>
    <p><mat-icon>check_circle_outline</mat-icon>
      Posteriormente, após troca de gerência, fui o responsável pela idealização e criação de métricas de desempenho do
      setor financeiro. Neste período, criei planilhas automatizadas (Ms Excel) para os colegas do setor registrarem
      seus trabalhos diários, para obtenção de produção setorial, junto das atividades mais atuantes e os períodos
      mensais com maior e menor demanda de atividades.
    </p>
  </mat-step>
</mat-stepper>
