<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-stepper orientation="horizontal">
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Empresa</h1>
    </ng-template>
    <ng-template matStepContent class="custom-font">
      <br>
      <br>
      <p>Digifile Tecnologia em Documentos</p>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Período</h1>
    </ng-template>
    <ng-template matStepContent class="custom-font">
      <br>
      <br>
      <p>março/2010 - agosto/2010</p>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Atividades</h1>
    </ng-template>
    <br>
    <br>
    <p><mat-icon>check_circle_outline</mat-icon>
      Digitação de notas fiscais;
    </p>
  </mat-step>
</mat-stepper>
