<section class="about-me">
  <h1 class="about-me-title">Sobre Mim</h1>
  <div class="about-content">
    <div class="about-content-main">
      <p class="about-content-details">Desenvolvedor Full-Stack Jr., com experiência profissional em Angular 16,
        JavaScript, TypeScript, Docker,
        PHP, Git e GitHub. Somado a isso, possuo experiência teórica (em projetos pessoais), onde atuo como back-end
        em C#, .Net, Python. Também, com bancos de dados como My SQL, SQL Server, POSTGRESQL.
        Finalizando com experiência profissional com metodologia ágil (Kanban e Scrum).
      </p>
    </div>
    <div class="about-content-skills">
      <h1 class="about-content-title">
        Skills
      </h1>
      <div class="skills">
        <div class="skills-skill">Angular</div>
        <div class="skills-skill">React</div>
        <div class="skills-skill">.Net</div>
        <div class="skills-skill">C#</div>
        <div class="skills-skill">TS</div>
        <div class="skills-skill">JS</div>
        <div class="skills-skill">PHP</div>
        <div class="skills-skill">NodeJs</div>
        <div class="skills-skill">Python</div>
        <div class="skills-skill">Docker</div>
        <div class="skills-skill">Git</div>
        <div class="skills-skill">SQL Server</div>
        <div class="skills-skill">PostgreSQL</div>
        <div class="skills-skill">MySql</div>
        <div class="skills-skill">BPMN</div>
        <div class="skills-skill">Scrum</div>
        <div class="skills-skill">Kanban</div>
      </div>
    </div>
  </div>
</section>
