<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-stepper orientation="horizontal">
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Empresa</h1>
    </ng-template>
    <ng-template matStepContent class="custom-font">
      <br>
      <br>
      <p>Hospital Mãe de Deus</p>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Período</h1>
    </ng-template>
    <ng-template matStepContent class="custom-font">
      <br>
      <br>
      <p>fevereiro/2014 - maio/2015</p>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel class="custom-font">
      <h1>Atividades</h1>
    </ng-template>
    <br>
    <br>
    <p><mat-icon>check_circle_outline</mat-icon>
      Atendimento ao público;</p>
    <p><mat-icon>check_circle_outline</mat-icon>
      Agendamento de consultas e exames médicos;
    </p>
  </mat-step>
</mat-stepper>
