.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1c58f8 !important;
  z-index: 999;
}

.logo {
  margin: 0%;
  width: 150px;
}


ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around; /* Alinha os links horizontalmente */
  transition: background-color 0.3s; /* Transição suave para mudança de cor de fundo */
  margin-bottom: 50px;
}

.nav-link {
  cursor: pointer;
  transition: background-color 0.3s; /* Transição suave para mudança de cor de fundo */
  color: #FFFF;
  font: 28px 'Space Grotesk', sans-serif;

}

.fixed-menu:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-link:hover {
  text-decoration: underline;
  color: #fff;
}



.social-icons a {
  color: #fff;
  font-size: 25px;
  margin-right: 50px;
  margin-bottom: 0;
  text-decoration: none;
  transition: color 0.3s;
}

  .social-icons a:hover {
    color: #ff9800;
  }

