@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Architects+Daughter&family=Julius+Sans+One&family=Major+Mono+Display&display=swap');

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  max-width: 150px;
}

.nav-menu {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}


.nav-menu li {
  margin-right: 25px;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: 'Major Mono Display', monospace;
}

/* Estilo quando o mouse estiver passando por cima */
a:hover {
  border-bottom: 12px solid #fff; /* Defina a cor e espessura da borda ao passar o mouse */
}
