<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <header>
    <img class="logo" src="../../assets/img/LucasLogo-removebg-preview.png" alt="Logo">
  </header>
  <nav class="nav-menu">
    <ul>
      <li><a href="#inicio">Início</a></li>
      <li><a href="#profissional">Profissional</a></li>
      <li><a href="#projetos">Projetos</a></li>
      <li><a href="#conversar">Vamos conversar</a></li>
    </ul>
  </nav>
</body>
</html>
