<div class="no-scrollbar">
<div id="works-section">
  <div class="apresentacao">
    <div *ngIf="showProgressBar; else siteContent" class="progress-container">
      <div class="progress-bar" [style.width.%]="progressValue"></div>
      <div class="progress-text">{{ progressValue }}%</div>
      <div class="container">

        <div class="status-bar">
          <div class="typing-container">
            <p class="text">{{ textContent }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <ng-template #siteContent>
    <app-navmenu></app-navmenu>
    <app-personal-information></app-personal-information>
    <br>
    <br>
    <br>
    <app-works></app-works>
    <app-projects></app-projects>
    <app-email></app-email>
    <app-footer></app-footer>
  </ng-template>
</div>
</div>
