@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Architects+Daughter&family=Julius+Sans+One&family=Major+Mono+Display&family=Raleway:wght@100&family=Roboto&family=Space+Grotesk:wght@300&display=swap');

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1s infinite;
}


.word-screen {
  width: 700px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  overflow: hidden;
  margin:  auto ;

}

.title-email {
  color: #041E49;
  font-size: 16px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  margin: auto 20px;
}


.top-email {
  background: none;
  color: #041E49;
  margin: auto;
}

.menu-bar {
  background-color: #FFFAFA;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.document {
  padding: 10px;
  border: none;
  color: #747775;
  text-align: justify;
  font-size: 14px;
  margin: auto;
}

/* Caixa de mensagem e-mail*/
.status-bar {
  padding: 10px;
  text-align: right;
  width: 400px;
  height: 80px;
}

.typing-container {
  padding: 20px;
}

.text {
  font-size: 16px;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  color: #041E49;
  border-right: 1px solid #000;
  font-family: 'Space Grotesk', sans-serif;
  animation: typing 4s steps(60, end), blink-caret .65s step-end infinite;
}

p.text2 {
  margin: 4px;
  font-size: 14px;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #000;
  animation: typing 3.5s steps(60, end), blink-caret .65s step-end;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

mat-card {
margin: 5px;
height: 50px;
padding: 10px 20px;
width: 650px;
}

.rounded-button {
  width: 105px;
  height: 36px;
  background-color: #0B57D0;
  color: #FFFFFF;
  border-radius: 25px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.vertical-line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #fff;
  left: 65%;
  transform: translateX(-50%);
}

.rounded-button mat-icon {
  margin-left: 10px;
}

.arrow-drop {
  color: #FFFFFF;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 2fr;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.icon-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  padding: 20px;
}

.icon-grid i {
  font-size: 24px; /* Tamanho dos ícones */
}

.icons-email {
  color: #000;
}

.works {
  align-items: center;
  background-image: linear-gradient(to bottom, #000000, #1C1C1C, #00BFFF);
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 40px;
}

div.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.curriculo {
  font-family: 'Major Mono Display', monospace;
}

.curriculo:hover {
  background-color: #3498db;
  padding: 20px;
}

.custom-button {
  font-family: 'Major Mono Display', monospace;
  font-size: 16px;
  background-color: #3498db;
  padding: 20px 20px;
  margin:  2em  1.5em 2em;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.1s;
  border: 0.5px dotted #00FFFF; /* Estilo de borda pontilhada preta */
  margin: 8px; /* Margem para separar os botões da borda */
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Borda levemente arredondada */
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}


.div-profissoes {
  margin: 0;
}
