@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Architects+Daughter&family=Julius+Sans+One&family=Major+Mono+Display&family=Raleway:wght@100&family=Roboto&family=Space+Grotesk:wght@300&display=swap');

.pair-works {
  border-top-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  margin: 0;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #F5F5F5;
}

p {
  margin: 5vh;
  margin-left: 0;
  text-align: justify;
  font: 20px 'Space Grotesk', sans-serif;
  color: #7C7C7C;
}
.works-information {
  line-height: 1.1;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: justify;
  font: 48px 'Major Mono Display', monospace;
  color: #1c58f8;

}




.title {
  background: none;
  font-size: 30px;
  color: #fff;
  padding: 10px;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 4s infinite;
}


.word-screen {
  width: 700px;
  background-color: #fff !important;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  overflow: hidden;
  margin:  auto ;
}

.title-email {
  background: none;
  color: #041E49;
  font-size: 16px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  margin: auto 20px;
}


.top-email {
  background: none;
  color: #041E49;
  margin: auto;
}

.menu-bar {
  background-color: #FFFAFA;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.document {
  background: none;
  padding: 10px;
  border: none;
  color: #747775;
  text-align: justify;
  font-size: 14px;
  margin: auto;
}

.status-bar {
  background: none;
  padding: 10px;
  text-align: right;
  width: 400px;
  height: 80px;
}

.typing-container {
  background: none;
  padding: 10px;
  width: 390px;
}

.text {
  background: none;
  font-size: 16px;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  color: #041E49;
  border-right: 1px solid #000;
  font-family: 'Space Grotesk', sans-serif;
  animation: typing 4s steps(60, end), blink-caret .65s step-end infinite;
}

p.text2 {
  margin: 4px;
  width: 250px;
  font-size: 14px;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #000;
  animation: typing 3.5s steps(60, end) forwards, blink-caret .65s step-end;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

mat-card {
margin: 5px;
height: 50px;
padding: 10px 20px;
width: 650px;
}

.rounded-button {
  width: 105px;
  height: 36px;
  background-color: #0B57D0;
  color: #FFFFFF;
  border-radius: 25px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.vertical-line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #fff;
  left: 65%;
  transform: translateX(-50%);
}

.rounded-button mat-icon {
  margin-left: 10px;
}

.arrow-drop {
  color: #FFFFFF;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 2fr;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.icon-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  padding: 20px;
}

.icon-grid i {
  font-size: 24px;
}


.icons-email-a {
  margin-right: -10px;
}
.icons-email {
  color: #000;
  margin-left: 20px;
}


h1 {
  text-align: center;
  font-size: 40px;
}

div.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.curriculo {
  font-family: 'Major Mono Display', monospace;
  padding: 25px;
}

.curriculo:hover {
  background-color: #3498db;
  padding: 20px;
}

.custom-button {
  font-family: 'Major Mono Display', monospace;
  font-size: 16px;
  background-color: #3498db;
  padding: 20px 20px;
  margin:  2em  1.5em 2em;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.1s;
  border: 0.5px dotted #00FFFF;
  margin: 8px;
}



button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}



