<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<app-navmenu></app-navmenu>

<div class="container">
  <img src="../../assets/img/jobs.png" alt="">
  <a href="../../assets/docs/Lucas Escoto da Luz - Curriculo Atualizado.pdf" download>
    <button>Download Curriculo PDF</button>
  </a>
</div>

<mat-vertical-stepper [linear]="true">
  <mat-step label="Desenvolvedor Front-end">
    <button mat-button (click)="abrirCard(1)">Resumo da Experiência</button>
    <br>
    <br>
    <div *ngIf="passoAberto === 1">
      <mat-card>
        <br>
        <br>
        <mat-card-title>Período</mat-card-title>
        <mat-card-content>
          <p>julho/2023 - setembro/2023</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Remuneração</mat-card-title>
        <mat-card-content>
          <p>R$ 25,00 (hora)</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Atividades</mat-card-title>
        <mat-card-content>
          <p>
            - Responsável pela migração estrutural e criações de aplicações - sites - cujos sistemas precisavam ser
            atualizados,
            transferindo para frameworks e linguagens, com versões atuais.
          </p>
          <p>
            - Utilização de Docker, para trabalho em containers de diferentes projetos da empresa.
          </p>
          <p>
            - Atuei com: Angular 16, TypeScript, Javascript, PHP, Docker, Git e GitHub, NodeJS.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-step>
  <mat-step label="Analista Administrativo">
    <button mat-button (click)="abrirCard(2)">Resumo da Experiência</button>
    <div *ngIf="passoAberto === 2">
      <mat-card>
        <mat-card-title>Período</mat-card-title>
        <mat-card-content>
          <p>janeiro/2021 - maio/2022</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Remuneração</mat-card-title>
        <mat-card-content>
          <p>R$ 3.200,00</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Atividades</mat-card-title>
        <mat-card-content>
          <br>
          <br>
          <p>
            - Implementação de planos e projetos de melhorias, aperfeiçoando o desempenho dos processos do setor;
          </p>
          <p>
            - Atuação no desenvolvimento e acompanhamento de indicadores e padrões de desempenho (KPI’s, com Ms
            Excel);
          </p>
          <p>
            - Elaboração, monitoramento e atualização de: fluxogramas (Bizagi), planilhas de dados automatizadas (Ms
            Excel: Macro, VBA), dashboard de apresentação de desempenho (Ms Excel e Power Bi);
          </p>
          <p>
            - Execução de atividades baseadas em pacote Office, Internet e aplicativos em geral;
          </p>
          <p>
            <strong>- Durante o período em que estive na empresa, conseguimos vitoriosos resultados. Entre eles:
            </strong>
          </p>
          <p>
            I. O prazo de execução de processos administrativos, anteriormente ultrapassava 224 dias e após
            aplicações
            das melhorias estava em aproximadamente 30 dias;
          </p>
          <p>
            II. O retorno de respostas processuais também apresentava consecutivas falhas, por depender muito que a
            mensagem fosse entrega de forma física, conflitando em prazo dos Correios e geolocalização. Tornamos o
            resultado digital, sendo muito mais efetivo e expressiva redução de custos.
          </p>
          <p>
            III. Recebimento de documentos anteriormente aceitas de modo presencial ou Correios, passou a ser de
            forma
            digital (e-mail, WhatsApp e site), ocasionou em redução de custos ao remetente e excelente redução em
            análises de processos.
          </p>
          <p>
            IV. Fazíamos reuniões mensais com apresentações dos dados do setor do período mensal. Isso acarretou
            numa
            união maior entre os colegas e motivação para o desempenho, uma vez que era um momento de analisar os
            resultados, junto de uma situação mais descontraída e para planejamento do mês seguinte.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-step>
  <mat-step label="Estágio em Administração">
    <button mat-button (click)="abrirCard(3)">Resumo da Experiência</button>
    <div *ngIf="passoAberto === 3">
      <mat-card>
        <mat-card-title>Período</mat-card-title>
        <mat-card-content>
          <p>fevereiro/2019 - janeiro/2021</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Remuneração</mat-card-title>
        <mat-card-content>
          <p>R$ 1.200,00</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Atividades</mat-card-title>
        <mat-card-content>
          <br>
          <br>
          <p>
            - Negociação e emissão de documentos relacionado a débitos;
          </p>
          <p>
            - Atendimento ao público de forma ativa e passiva (telefone, e-mail, presencial);
          </p>
          <p>
            - Posteriormente, após troca de gerência, fui o responsável pela idealização e criação de métricas de
            desempenho do setor financeiro. Neste período, criei planilhas automatizadas (Ms Excel) para os colegas
            do
            setor registrarem seus trabalhos diários, para obtenção de produção setorial, junto das atividades mais
            atuantes e os períodos mensais com maior e menor demanda de atividades.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-step>
  <mat-step label="Estágio em Administração">
    <button mat-button (click)="abrirCard(4)">Resumo da Experiência</button>
    <div *ngIf="passoAberto === 4">
      <mat-card>
        <mat-card-title>Período</mat-card-title>
        <mat-card-content>
          <input [(ngModel)]="periodo4">
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Remuneração</mat-card-title>
        <mat-card-content>
          <p>R$ 1.000,00</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Atividades</mat-card-title>
        <mat-card-content>
          <br>
          <br>
          <p>
            - Atendimento ao público;
          </p>
          <p>
            - Área de Financeira: cobranças e negociações;
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-step>




  <mat-step label="Agente de Atendimento">
    <button mat-button (click)="abrirCard(5)">Resumo da Experiência</button>
    <div *ngIf="passoAberto === 5">
      <mat-card>
        <mat-card-title>Período</mat-card-title>
        <mat-card-content>
          <p>fevereiro/2014 - maio/2015</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Remuneração</mat-card-title>
        <mat-card-content>
          <p>R$ 1.000,00</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Atividades</mat-card-title>
        <mat-card-content>
          <br>
          <br>
          <p>
            - Atendimento e orientação ao público, referente aos procedimentos clínicos;
          </p>
          <p>
            - Agendamento de consultas, exames e cirurgias.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-step>
  <mat-step label="Estágio Técnico em Administração">
    <button mat-button (click)="abrirCard(6)">Resumo da Experiência</button>
    <div *ngIf="passoAberto === 6">
      <mat-card>
        <mat-card-title>Período</mat-card-title>
        <mat-card-content>
          <p>março/2012 - fevereiro/2014</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Remuneração</mat-card-title>
        <mat-card-content>
          <p>R$ 600,00</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Atividades</mat-card-title>
        <mat-card-content>
          <br>
          <br>
          <p>
            - Contagem de fluxo de veículos e pedestres.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-step>


  <mat-step label="Estágio Ensino Médio">
    <button mat-button (click)="abrirCard(7)">Resumo da Experiência</button>
    <div *ngIf="passoAberto === 7">
      <mat-card>
        <mat-card-title>Período</mat-card-title>
        <mat-card-content>
          <p>janeiro/2011 - agosto/2011</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Remuneração</mat-card-title>
        <mat-card-content>
          <p>R$ 400,00</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Atividades</mat-card-title>
        <mat-card-content>
          <br>
          <br>
          <p>
            - Atendimento ao público;
          </p>
          <p>
            - Rotinas administrativas, tais como: atualizações de processos e emissão de cópias impressas.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-step>

  <mat-step label="Estágio Ensino Médio">
    <button mat-button (click)="abrirCard(8)">Resumo da Experiência</button>
    <div *ngIf="passoAberto === 8">
      <mat-card>
        <mat-card-title>Período</mat-card-title>
        <mat-card-content>
          <p>janeiro/2010 - agosto/2010</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Remuneração</mat-card-title>
        <mat-card-content>
          <p>R$ 450,00</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Atividades</mat-card-title>
        <mat-card-content>
          - Digitação de notas fiscais.
        </mat-card-content>
      </mat-card>
    </div>
  </mat-step>
</mat-vertical-stepper>
<app-footer></app-footer>
